body {
    padding: 0;
    margin: 0;
}

.gallery {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 15%;
}

.gallery-item {
    width: 360px;
    height: 200px;
    padding: 12px;
    transition: 0.2s ease;
}

.gallery-item:hover {
   transform: scale(1.02);
 
}

.gallery-image {
    width: 100%;
    height: 100%;
}